<mat-sidenav-container class="sidenav-container" *ngIf="isHandset$ | async as isHandset">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset!.matches ? 'over' : 'side'"
    [opened]="!isHandset!.matches"
  >
    <main-sidenav></main-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <main-sidenav-content [isHandset]="isHandset" (toggle)="drawer.toggle();">
      <router-outlet></router-outlet>
    </main-sidenav-content>
    <main-scroll-to-top></main-scroll-to-top>
  </mat-sidenav-content>
</mat-sidenav-container>