app-main {
  .example-headers-align .mat-expansion-panel-header-title, 
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .mat-chip-list-wrapper {
    margin: 0px;
  }
  
  .specification {
    margin: 20px 20px 0;
  }
}