.scroll-to-top {
  background-color: #ccc;
  border-radius: 10px;
  bottom: 0;
  cursor: pointer;
  height: 45px;
  opacity: 0;
  position: fixed;
  right: 0;
  transition: opacity 0.5s ease-in-out, opacity 0.2s ease-in-out, bottom 0.2s ease-in-out;
  width: 45px;
  z-index: 300;

  &:hover {
    background-color: #999;
  }

  &.show-scroll {
    bottom: 15px;
    opacity: 1;
    right: 15px;
  }

  &__icon {
    fill: #fff;
    height: 16px;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 16px;
  }
}