<mat-toolbar color="primary">Menu</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/docs" routerLinkActive="active">Docs</a>
  <a mat-list-item routerLink="/spec" routerLinkActive="active" class="cursive">Spec</a>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <a mat-list-item href="/compodoc" target="_blank">Compodoc</a>
  <a mat-list-item href="https://github.com/mpgp/Documentation/wiki" target="_blank">Tech Doc</a>
  <a mat-list-item href="https://github.com/mpgp/Mpgp/blob/master/CHANGELOG.md" target="_blank">CHANGELOG</a>
  <a mat-list-item href="https://github.com/mpgp/Mpgp/blob/master/LICENSE" target="_blank">LICENCE</a>
</mat-nav-list>