.spec-root {
  .spec-headers-align .mat-expansion-panel-header-title,
  .spec-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .spec-headers-align .mat-expansion-panel-header-description {
    align-items: center;
    justify-content: space-between;
  }

  .mat-chip-list-wrapper {
    margin: 0;
  }
}