<div class="spec-root" *ngIf="route.params | async as params">
  <spec-schema-select
    (selectionChange)="onNavigated($event, 0, 0, 0)"
    [currentSchema]="params.schema"
  ></spec-schema-select>
  <mat-tab-group
    [selectedIndex]="params.module"
    (selectedIndexChange)="onNavigated(params.schema, $event, 0, 0)"
    *ngIf="messages$ | async as messages"
  >
    <mat-tab [label]="message.name" *ngFor="let message of messages">
      <ng-template matTabContent>
        <spec-module
          [message]="message"
          [params]="params"
          (navigated)="onNavigated($event.schema, $event.module, $event.action, $event.tab)"
        ></spec-module>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>