.docs {
  &-list {
    .docs-list {
      margin-left: 15px;
    }

    .mat-list-item {
      height: 30px;
    }
  }

  &-card {
    font-family: sans-serif;
  }

  &-subtitle {
    color: rgba(0, 0, 0, 0.54);
  }

  &-nav-link {
    color: black;
  }
}