.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.mat-list-item {
  &.active {
    background: #eee;
  }
}
.cursive {
  font-family: cursive;
}
.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 45px;
  height: 45px;
  z-index: 300;
  cursor: pointer;
  background-color: #ccc;
  transition: opacity .5s ease-in-out, opacity .2s ease-in-out, bottom .2s ease-in-out;

  &.show-scroll {
    opacity: 1;
    bottom: 15px;
    right: 15px;
  }
  &__icon {
    position: absolute;
    top: 15px;
    left: 15px;
    fill: #fff;
    height: 16px;
    width: 16px;
  }
}
