<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Index</a>
      <a mat-list-item routerLink="/examples" routerLinkActive="active" class="cursive">Examples</a>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <a mat-list-item href="https://github.com/mpgp/Documentation/wiki" target="_blank">Tech Doc</a>
      <a mat-list-item href="https://github.com/mpgp/Mpgp/blob/master/CHANGELOG.md" target="_blank">CHANGELOG</a>
      <a mat-list-item href="https://github.com/mpgp/Mpgp/blob/master/LICENSE" target="_blank">LICENCE</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MPGP Documentation</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <div class="scroll-to-top" [ngClass]="{'show-scroll': navIsFixed}"  (click)="scrollToTop()">
      <svg class="scroll-to-top__icon" data-name="mk-icon-chevron-up" data-cacheid="icon-5b17fbf520a0b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"><path d="M1683 1331l-166 165q-19 19-45 19t-45-19l-531-531-531 531q-19 19-45 19t-45-19l-166-165q-19-19-19-45.5t19-45.5l742-741q19-19 45-19t45 19l742 741q19 19 19 45.5t-19 45.5z"></path></svg>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>